<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Thumbnail Gallery - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/thumbnail-gallery.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/main.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
  <!-- Image and text -->

    <!-- Page Content -->
                <form>

    <div class="container-fluid">
          <div><h5>How are you currently feeling?</h5></div>
        <div class="row  d-flex align-items-center">




          <div class="cc-selector-2">
              <input id="VeryHappy" type="radio" name="credit-card" value="VeryHappy" />
              <label class="happiness-cc VeryHappy" for="VeryHappy"></label>
              <input id="Happy" type="radio" name="credit-card" value="Happy" />
              <label class="happiness-cc Happy" for="Happy"></label>
              <input id="Neutral" type="radio" name="credit-card" value="Neutral" />
              <label class="happiness-cc Neutral"for="Neutral"></label>
              <input id="Unhappy" type="radio" name="credit-card" value="Unhappy" />
              <label class="happiness-cc Unhappy" for="Unhappy"></label>
              <input id="VeryUnhappy" type="radio" name="credit-card" value="VeryUnhappy" />
              <label class="happiness-cc VeryUnhappy" for="VeryUnhappy"></label>

      </div>



        </div>
        <div class="row  d-flex align-items-center">
<div class="col d-flex align-items-center">
                          <input type="text" class="form-control input-sm" placeholder="Enter optional explanation." ng-model="formData.text">
                        <button type="submit" class="btn btn-primary" ng-click="createTodo()">Submit</button>
                      </div>
        </div>
    </div>
              </form>
    <!-- /.container -->

    <!-- jQuery -->


    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
